/environment/
/venv/
/.idea/
.DS_Store
__pycache__/
*.pyc

almacen_output.log
almacen_output.log.*
nohup.out

/config/local_*.py
/configure.json

/credentials/**/*.*
/credentials/**/.*
/credentials/rsa/*
!/credentials/**/README.md
!/credentials/company/template/*.*
/credentials/company/template/.*
!/credentials/access_credentials.json

/output/**/*.*
/output/**/.*
/output/temp/*
!/output/**/README.md
/output/documentation/build
